<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="kamrulDB" 
         connectionString="Data Source=LAPTOP-HSOBR6PO;Initial Catalog=kamrulDB;Integrated Security=True" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="SessionTimeout" value="30" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" maxRequestLength="10240" />
    <sessionState mode="InProc" timeout="30" />
    
    <!-- Forms authentication -->
    <authentication mode="Forms">
      <forms loginUrl="~/Pages/Login.aspx" timeout="30" />
    </authentication>

    <!-- Default master page -->
    <pages masterPageFile="~/Pages/Site.Master" />

    <!-- Remove customErrors for development -->
    <customErrors mode="Off" />
  </system.web>

  <system.webServer>
    <!-- Set default start page -->
    <defaultDocument>
      <files>
        <clear />
        <add value="Pages/Default.aspx" />
      </files>
    </defaultDocument>

  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
